<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NuGetPackageExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NuGetPackageExplorer.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ContentViewerHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PackageSource" serializeAs="String">
                <value>https://nuget.org/api/v2/</value>
            </setting>
            <setting name="WindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishPrivateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishPackageLocation" serializeAs="String">
                <value>https://nuget.org</value>
            </setting>
            <setting name="PackageChooserDialogWidth" serializeAs="String">
                <value>630</value>
            </setting>
            <setting name="PackageChooserDialogHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="IsFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PackageContentHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ShowTaskShortcuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishAsUnlisted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPrereleasePackages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstTimeAfterMigrate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadPackages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseApiKey" serializeAs="String">
                <value>True</value>
            </setting>
        </NuGetPackageExplorer.Properties.Settings>
    </userSettings>
    <system.net>
        <settings>
            <servicePointManager expect100Continue="false"/>
        </settings>
    </system.net>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="NuGetPackageExplorer.Types" publicKeyToken="b33e3c54f0b885e9" culture="neutral"/>
                <!-- keep in line with Types\Properties\AssemblyInfo.cs -->
                <bindingRedirect oldVersion="1.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
        <loadFromRemoteSources enabled="true"/>
    </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
