<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PackageExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PackageExplorer.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContentViewerHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PackageSource" serializeAs="String">
                <value>https://go.microsoft.com/fwlink/?LinkID=206669</value>
            </setting>
            <setting name="WindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishPrivateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishPackageLocation" serializeAs="String">
                <value>http://go.microsoft.com/fwlink/?LinkID=207106</value>
            </setting>
            <setting name="PackageContentHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PackageChooserDialogWidth" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="PackageChooserDialogHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="ShowLatestVersionOfPackage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </PackageExplorer.Properties.Settings>
    </userSettings>
    <system.net>
        <settings>
            <servicePointManager expect100Continue="false" />
        </settings>
    </system.net>
</configuration>