<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PackageExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="InstrumentationKey" value="__AppInsightsKey__" />
  </appSettings>
  <userSettings>
    <PackageExplorer.Properties.Settings>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ContentViewerHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="PackageSource" serializeAs="String">
        <value>https://api.nuget.org/v3/index.json</value>
      </setting>
      <setting name="WindowPlacement" serializeAs="String">
        <value />
      </setting>
      <setting name="PublishPrivateKey" serializeAs="String">
        <value />
      </setting>
      <setting name="PublishPackageLocation" serializeAs="String">
        <value>https://nuget.org</value>
      </setting>
      <setting name="PackageChooserDialogWidth" serializeAs="String">
        <value>630</value>
      </setting>
      <setting name="PackageChooserDialogHeight" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="IsFirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PackageContentHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="ShowTaskShortcuts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WordWrap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLineNumbers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PublishAsUnlisted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPrereleasePackages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsFirstTimeAfterMigrate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SigningCertificate" serializeAs="String">
        <value />
      </setting>
      <setting name="TimestampServer" serializeAs="String">
        <value />
      </setting>
      <setting name="SigningHashAlgorithmName" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLoadPackages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseApiKey" serializeAs="String">
        <value>True</value>
      </setting>
    </PackageExplorer.Properties.Settings>
  </userSettings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <AppContextSwitchOverrides value="Switch.System.Diagnostics.IgnorePortablePDBsInStackTraces=false" />
  </runtime>
</configuration>
