_ReSharper*
bin
Bin
obj
App_Data
*.user
*.patch
*.hg
*.sln.cache
*.orig
*.suo
*.vs10x
*.vsp
*.psess
*.docstates
TestResults
[Tt]humbs.db
src/Server/Packages/*.nupkg
src/Server/Server.Publish.xml
DebugConstants.cs
*.log
packages/*
publish/
/PackageExplorer.Package/bld/*
/PackageExplorer.Package/BundleArtifacts/*
/PackageExplorer.Package/AppPackages/*
/.vs
/PackageExplorer.Package/PackageExplorer
/PackageExplorer.Package/_pkginfo.txt
/PackageExplorer.Package.Nightly/bld/*
/PackageExplorer.Package.Nightly/BundleArtifacts/*
/PackageExplorer.Package.Nightly/AppPackages/*
/PackageExplorer.Package.Nightly/PackageExplorer
/PackageExplorer.Package.Nightly/_pkginfo.txt
