_ReSharper*
bin
Bin
obj
App_Data
*.user
*.patch
*.hg
*.sln.cache
*.orig
*.suo
*.vs10x
*.vsp
*.psess
*.docstates
TestResults
[Tt]humbs.db
src/Server/Packages/*.nupkg
src/Server/Server.Publish.xml
DebugConstants.cs
*.log
packages/*