<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>    
    <add key="Private NuGet" value="https://www.myget.org/F/nuget-25c07c5b-c32a-46b1-97ad/api/v3/index.json"  />
    <add key="Symreader Converter" value="https://dotnet.myget.org/F/symreader-converter/api/v3/index.json"  />
  </packageSources>
</configuration>