<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>    
    <add key="BuildPackages" value="https://pkgs.dev.azure.com/dotnet/NuGetPackageExplorer/_packaging/BuildPackages/nuget/v3/index.json"  />
    <add key="Symreader Converter" value="https://dotnet.myget.org/F/symreader-converter/api/v3/index.json"  />
  </packageSources>
</configuration>