<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>    
    <add key="BuildPackages" value="https://pkgs.dev.azure.com/dotnet/NuGetPackageExplorer/_packaging/BuildPackages/nuget/v3/index.json"  />
    <add key="Symreader Converter" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json"  />
    <add key=".NET Core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json"  />
    <add key="NBGV CI" value="https://pkgs.dev.azure.com/andrewarnott/OSS/_packaging/PublicCI/nuget/v3/index.json" />
  </packageSources>
</configuration>