<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" 
         IgnorableNamespaces="uap rescap mp">

  <mp:PhoneIdentity PhoneProductId="95d42d13-b9a9-4fda-88a8-0cdc2ab9a9c1" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Identity
    Name="508894a9-d8b9-4a24-90e9-4e25c801329b"
    Version="1.0.0.0"
    Publisher="CN=oren" />
  <Properties>
    <DisplayName>NuGet Package Explorer</DisplayName>
    <PublisherDisplayName>oren</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application 
      Id="NuGetPackageExplorer"
      Executable="win32\NuGetPackageExplorer.exe"
      EntryPoint="Windows.FullTrustApplication">

      <uap:VisualElements
        DisplayName="NuGet Package Explorer"
        Description="NuGet Package Explorer"
        BackgroundColor="transparent"
        Square150x150Logo="images\Square150x150Logo.png"
        Square44x44Logo="images\Square44x44Logo.png">
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>
